# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# python
__pycache__/
*.pyc
venv/

# misc
.DS_Store

# Supabase CLI temp files
supabase/.temp/

# local env files
.env
.env*.local

# test.py
test.py
